$col-fg: #eff0eb;
$col-bg: #282a36;
$col-bg-l: #33343f;
$col-red: #ff5c57;
$col-green: #5af78e;
$col-yellow: #f3f99d;
$col-blue: #57c7ff;
$col-magenta: #ff6ac1;
$col-cyan: #9aedfe;

/**************************************************
elements
**************************************************/
body {
    background: $col-bg;
    color: $col-fg;
}

h2 {
    color: $col-magenta;
}

a {
    color: $col-blue;
    text-decoration: none;
}

button {
    background-color: $col-bg;
    color: $col-magenta;
    border: thin solid $col-magenta;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/**************************************************
tooltip
**************************************************/
.tooltip-hover {
    visibility: hidden;
    width: 120px;
    background-color: $col-cyan;
    color: $col-bg;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-hover {
    visibility: visible;
}

/**************************************************
app
**************************************************/
.App {
    text-align: left;
    overflow: hidden;
    // padding: 10px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.repos {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/**************************************************
repo-selctor
**************************************************/
.repo-selector {
    width: 100%;
}

.repo-selector li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/**************************************************
repo
**************************************************/
.repo {
    // border: red solid thin;
    // padding: 0 10px;
    // margin: 0 20px;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}
.repo-title {
    text-align: center;
    font-size: 24px;
    color: $col-magenta;
    margin-bottom: 10px;
}

// .repo-item {
//   width: 80%;
//   margin-bottom: 10px;
// }
/**************************************************
pr
**************************************************/
.pr {
    margin-bottom: 10px;
    width: 100%;
    background-color: $col-bg-l;

    // border: #61dafb thin solid;
    // border-radius: 6px;
    border-radius: 35px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pr-info {
    flex-grow: 1;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pr-image {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    flex-basis: 70px;
    flex-shrink: 0;

    img {
        border-radius: 35px;
    }
    // margin: 5px;
    /* width: 20px; */
    /* position: relative; */
    /* right: 10%; */
}
.pr-statuses {
    font-size: 12px;
    color: $col-fg;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    li {
        margin-right: 10px;
    }
}

.pr-title {
    // flex-grow: 1;
    max-width: 500px;
}

.pr-reviews {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    flex-basis: 50px;

    li {
        width: 40px;
        height: 40px;
        margin: 15px 5px 0;
    }
}

/**************************************************
review
**************************************************/
.review {
    border-radius: 20px;
}

.review-image {
    width: 32px;
    border-radius: 16px;
    margin: 3.5px 0 2px 4px;
}

.reviewer-team-image {
    position: relative;
    width: 30px;
    left:-30px;
}

.state--PENDING {
    background: $col-yellow;
}
.state--APPROVED {
    background: $col-green;
}
.state--CHANGES_REQUESTED {
    background: $col-red;
}

.status--EXPECTED { color: $col-cyan; }
.status--ERROR { color: $col-blue; }
.status--FAILURE { color: $col-red; }
.status--PENDING { color: $col-yellow; }
.status--SUCCESS { color: $col-green; }


.merge-icon {
    width: 13px;
}
.merge-icon.status--CONFLICTING { fill: $col-red; }
.merge-icon.status--MERGEABLE { fill: $col-green; }
.merge-icon.status--UNKNOWN { fill: $col-yellow; }
